:root {
  // background colors

  --background-color: #f8f7f5;
  --background-contrast: #25231e;

  // colors

  --color-gray-1: #302f2e;
  --color-gray-2: #444443;
  --color-gray-3: #cfd4ce;

  --color-yellow: #f8e17f;
  --color-yellow-2: #ffed50;

  --color-orange: #fc9a58;
  --color-orange-2: #ff6700;

  --color-white: #ffffff;
  --color-white-2: #f8f7f5;

  --color-black: #000000;
  --color-black-2: #25231e;

  // text colors

  --text-color: #000000;
  --text-color-contrast: #ffffff;
}

.darkmode {
  // background colors

  --background-color: #25231e;
  --background-contrast: #f8f7f5;

  // colors

  --color-gray-1: #302f2e;
  --color-gray-2: #444443;
  --color-gray-3: #cfd4ce;

  --color-yellow: #f8e17f;
  --color-yellow-2: #ffed50;

  --color-orange: #fc9a58;
  --color-orange-2: #ff6700;

  --color-white: #ffffff;
  --color-white-2: #f8f7f5;

  --color-black: #000000;
  --color-black-2: #25231e;

  // text colors

  --text-color: #ffffff;
  --text-color-contrast: #000000;
}
